.cabecalho {
    background-color: var(--cor-cabecalho);
    padding: 1em;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.imagem {
    max-width: 100px;
    margin-bottom: 10px;
}

.container.titulo {
    font-size: 1.8em;
    font-weight: bold;
    color: #0467a5;
}

.container.frase {
    font-style: italic;
    color: #615e5e;
}

/* Responsividade */
@media screen and (min-width: 600px) {
    .container.titulo, 
    .container.frase {
        display: block;
    }
}